
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 200 17% 94%;
    --foreground: 224 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 224 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 10% 10%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 122 39% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 122 39% 49%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --sidebar-background: 224 10% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 224 10% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 224 10% 15%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 224 10% 10%;
    --foreground: 0 0% 98%;
    --card: 224 10% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 224 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224 10% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 224 10% 15%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 122 39% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 10% 20%;
    --input: 224 10% 20%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 122 39% 49%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 224 10% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 224 10% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 224 10% 15%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
